// ==========================================
// ABOUT PAGE
// ==========================================

#about-page .hero-section {
  @include flexbox();
  @include grid-parent();
  grid-template-columns: 12.5% 6.25% 6.25% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  height: 675px;
  margin: 45px auto;
  position: relative;

  img {
    @include grid-child(6,9);
    margin-left: 5%;
    object-fit: contain;
    position: absolute;
    width: 90%;
    z-index: -100;
  }
}

#about-page .hero-text {
  @include grid-child(3,7);

  @include e(divider) {
    background: $color-divider;
    height: 5px;
    margin-top: 22.5px;
    width: 180px;
  }
}

#about-page .approach-section  {
  width: 100%;
}

#about-page .approach-section-text {
  @include grid-parent();
}

#about-page .approach-section-name {
  @include grid-child(2,7);
  @extend .project-name;
  color: $medium-gray;
  font-size: 20px;
  letter-spacing: 1.75px;
}

#about-page .approach-section-title {
  @include grid-child(2,7);
  margin: 33.75px 0 45px 0;
}

#about-page .approach-section-text p {
  @include grid-child(3,7);

  &:not(:first-of-type) {
    margin-top: 28.125px;
  }
}

#about-page .tool-stack-section {
  margin: 180px 0;
}

#about-page .tool-stack-section .section-title {
  line-height: normal;
  margin: 0 auto;
  max-width: 1080px;
  width: 75%;
}

#about-page .tool-stack-logos {
  @include flexbox($justify: space-between);
  margin: 67.5px auto 0 auto;
  max-width: 1080px;
  width: 75%;
}

#about-page #abstract-logo {
  height: 34px;
  object-fit: contain;
}

#about-page #photoshop-logo {
  height: 26px;
  object-fit: contain;
}

#about-page #axure-logo {
  height: 25px;
  object-fit: contain;
}

#about-page #lookback-logo {
  height: 20px;
  object-fit: contain;
}

#about-page #sketch-logo {
  height: 25px;
  object-fit: contain;
}

#about-page #zeplin-logo {
  height: 34px;
  object-fit: contain;
}

#about-page .work-section {
  margin: 0 0 135px 0;
}
