// ==========================================
// COOKIE BANNER WIZARD PROJECT PAGE
// ==========================================

#cookie-banner-wizard-page .hero-background {
  @include gradient($kelly-green, $lime-green);
}

#cookie-banner-wizard-page .project-role__label {
   color: $kelly-green;
}

#cookie-banner-wizard-page blockquote span {
  color: $kelly-green;
}

#cookie-banner-wizard-page .slick-prev {

  &:before {
    content: url('../img/projects/cookie-banner-wizard/carousel-arrows/previous-arrow.svg') !important;
    cursor: pointer;
  }
}

#cookie-banner-wizard-page .slick-next {

  &:before {
    content: url('../img/projects/cookie-banner-wizard/carousel-arrows/next-arrow.svg') !important;
    cursor: pointer;
  }
}

#cookie-banner-wizard-page .sketch-slider .medium-width-slider-image div {
  height: 250px;
}
