// ==========================================
// HOME PAGE
// ==========================================

#home-page .hero-section {
  @include flexbox();
  height: 700px;
  margin-top: -87.5px;
  position: relative;
  width: 100%;
}

#home-page .hero-text {
  @include grid-parent();
  grid-template-columns: 12.5% 12.5% 12.5% 3.125% 9.375% 12.5% 12.5% 12.5% 12.5%;

  h1 {
    @include grid-child(3,8);
    color: $white;
    margin: 0;
  }

  p {
    @include grid-child(5,8);
    color: $white;
    float: right;
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
  }

  @include e(divider) {
    @include grid-child(3,4);
    background: $color-divider;
    float: left;
    height: 5px;
    margin-top: 35px;
  }
}

#home-page .about-section {
  @include grid-parent();
  margin-top: 135px;
}

#home-page .about-text {
  @include grid-child(3,7);
}

#home-page .about-text .text-link {
  margin-top: 22px;
}
