// ==========================================
// CONTACT SECTION
// ==========================================

.contact-section {
  @include grid-parent();
  margin-bottom: 135px;
}

.contact-text {
  @include grid-child(3,7);

  h3 {
    line-height: normal;
    margin-bottom: 22.5px;
  }
}

.contact-text .text-link {
  margin-top: 22.5px;
}
