// ==========================================
// IMAGES
// ==========================================

.project-page ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.project-page ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(#121212,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.project-page .project-image--medium-width {
  @include grid-parent();
  margin: 75px auto;

  img {
    @include box-shadow();
    @include grid-child(3,7);
    display: block;
    object-fit: contain;
    width: 100%;
  }

  figcaption {
    @include grid-child(3,7);
    @extend p;
    color: $black;
    display: block;
    font-family: $font-bold;
    font-size: 14px;
    line-height: 21px;
    margin-top: 45px;
    text-align: center;

    span {
      color: $medium-gray;
      font-family: $font-medium;
      letter-spacing: 1.225px;
      margin-right: 5px;
      text-transform: uppercase;
    }
  }
}

.project-page .project-slider--medium-width {
  margin: 75px auto;
  width: 100%;
}

.project-page .medium-width-slider-image {
  @include grid-parent();
  height: auto;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  div {
    @include box-shadow();
    @include flexbox($align: center, $justify: center);
    @include grid-child(3,7);
    display: block;
    height: 450px;
    overflow: auto;

  }

  img {
    width: 100%;
  }

  figcaption {
    @include grid-child(3,7);
    @extend p;
    color: $black;
    display: block;
    font-family: $font-bold;
    font-size: 14px;
    line-height: 21px;
    margin-top: 45px;
    text-align: center;

    span {
      color: $medium-gray;
      font-family: $font-medium;
      letter-spacing: 1.225px;
      margin-right: 5px;
      text-transform: uppercase;
    }
  }
}

.project-page .sketch-slider .medium-width-slider-image div {
  box-shadow: none;
}

.project-page .project-slider--medium-width .slick-prev {
  align-items: stretch;
  background: none;
  border: none;
  height: 60px;
  left: 180px;
  outline-style: none;
  padding: 0;
  position: absolute;
  top: 40%;
  transform: scale(0.925);
  width: 60px;
  z-index: 100;
}

.project-page .project-slider--medium-width .slick-next {
  align-items: stretch;
  background: none;
  border: none;
  height: 60px;
  outline-style: none;
  padding: 0;
  position: absolute;
  right: 180px;
  top: 40%;
  transform: scale(0.925);
  width: 60px;
  z-index: 100;
}

.project-page .mobile-mockup {
  @include flexbox($align: center, $direction: column, $justify: center);
  height: auto;
  margin: 75px auto;
  width: 100%;

  figcaption {
    @include grid-child(3,7);
    @extend p;
    color: $black;
    display: block;
    font-family: $font-bold;
    font-size: 14px;
    line-height: 21px;
    margin-top: 45px;
    text-align: center;

    span {
      color: $medium-gray;
      font-family: $font-medium;
      letter-spacing: 1.225px;
      margin-right: 5px;
      text-transform: uppercase;
    }
  }
}

.project-page .mobile-device-frame {
  @include flexbox($align: start, $justify: center);
  background: url(../img/projects/mobile-device.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  width: 270px;

  div {
    @include box-shadow();
    border-radius: 15px;
    height: 94%;
    margin-top: 15px;
    overflow: auto;
    width: 90%;
  }

  img {
    width: 100%;
  }
}


.project-page .full-width-image-background {
  background: $color-full-width-image-background;
  box-sizing: border-box;
  height: auto;
  margin: 100px 0;
  padding: 75px 180px 75px 180px;
  width: 100%;

  h4 {
    margin-bottom: 37px;
  }
}

.project-page .full-width-slider-background {
  background: $color-full-width-image-background;
  box-sizing: border-box;
  height: auto;
  margin: 100px 0 0 0;
  padding: 75px 180px 135px 180px;
  width: 100%;

  h4 {
    margin-bottom: 37px;
  }
}

.project-page .full-width-layout {
  @include flexbox($align: flex-start, $justify: space-between);
  width: 100%;

  @include m(image) {
    @include box-shadow();
    display: block;
    object-fit: contain;
    width: 66.66%;
  }

  @include m(description) {
    width: 29.166%;
  }
}

.project-page .project-slider--full-width-nav {
  height: auto;
  margin: -65.9375px auto 100px auto !important;
}

.project-page .nav-slide {
  margin-right: 30px;
  width: 135px !important;

  span {
    font-family: $font-regular;
    font-size: 14px;
    line-height: 17.5px;
  }

  img {
    @include box-shadow();
    margin-top: 5px;
    max-height: 100px;
    overflow: hidden;
    width: 135px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:focus {
    outline: none;
  }
}

.project-page .project-slider--full-width-nav .slick-current span {
    font-family: $font-bold;
}


.project-page .figure-name {
  color: $medium-gray;
  font-family: $font-medium;
  font-size: 16.5px;
  letter-spacing: 1.44375px;
  text-transform: uppercase;
}

.project-page .figure-title {
  margin-top: 12.375px;
}

.project-page .figure-description {
  @extend p;
  font-size: 14px;
  line-height: 17.5px;
  margin-top: 20px;
}

.project-page .comment {
  margin-top: 25px;

  @include m(title) {
    color: $black;
    font-family: $font-medium;
    font-size: 14px;
    letter-spacing: 1.225px;
    overflow: hidden;
    text-transform: uppercase;
  }

  @include m(description) {
    @extend p;
    font-size: 14px;
    line-height: 17.5px;
    margin-top: 5px;
    overflow: hidden;
  }
}

.project-page .two-column-layout {
  @include flexbox($align: flex-start, $justify: space-between);
  width: 100%;

  @include e(column) {
    height: auto;
    width: 45.83%;
  }
}

.project-page .three-column-layout {
  @include flexbox($align: flex-start, $justify: space-between);
  width: 100%;

  @include e(column) {
    height: auto;
    width: auto;
  }
}

.job-story {
  margin-bottom: 37px;

  &:last-of-type {
    margin-bottom: 0px;
  }

  span {
    color: $black;
    display: block;
    font-family: $font-medium;
    font-size: 14px;
    letter-spacing: 1.225px;
    margin-bottom: 10px;
    overflow: hidden;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
    line-height: 17.5px;
  }
}

.approach {
  width: 100%;

  span {
    color: $black;
    display: block;
    font-family: $font-medium;
    font-size: 14px;
    letter-spacing: 1.225px;
    margin-bottom: 10px;
    overflow: hidden;
    text-transform: uppercase;
  }

  ul li, ol li {
    @extend p;
    font-size: 14px;
    list-style: none;
    margin: 0 0 0 1.5em;
    padding-bottom: 4.85px;
    position: relative;

    &:last-of-type {
      padding-bottom: 0;
    }

    &:before {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      content:'•';
      left: -2em;
      margin-right: 10px;
      padding: 4px;
      position: absolute;
      text-align:center;
      top: -4.75px;
      width: 2em;
    }

    ul li, ol li {
      &:first-of-type {
        padding-top: 4.85px;
      }

      &:before {
        content:'-';
      }
    }
  }
}

.column--concept-model {
  width: auto !important;
}

.concept-model {
  width: 100%;

  span {
    color: $black;
    display: block;
    font-family: $font-medium;
    font-size: 18px;
    letter-spacing: 1.575px;
    margin-bottom: 45px;
    overflow: hidden;
    text-transform: uppercase;
  }

  img {
    height: 300px;
    object-fit: contain;
  }
}
